<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"		
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<context:annotation-config/>
	<bean id="ss" class="com.spring.aop.SecurityService"/>
	<bean id="ls" class="com.spring.aop.LogService"/>
	
	<bean id="mia" class="com.spring.aop.JavaMIAdvice"/>
	<bean id="mta" class="com.spring.aop.JavaMTAdvice"/>
	
	<bean id="helloTarget" class="com.spring.aop.HelloService"/>
	<bean id="haiTarget" class="com.spring.aop.HaiServiceImpl"/>
	
	<bean id="baseProxy" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
		<property name="interceptorNames">
			<list>
				<value>mia</value>
				<value>mta</value>
			</list>
		</property>
	</bean>
	
	<bean id="helloProxy" parent="baseProxy">
		<property name="targetClass" value="com.spring.aop.HelloService"/>
		<property name="target" ref="helloTarget"/>
	</bean>
	
	<bean id="haiProxy" parent="baseProxy">
		<property name="proxyInterfaces" value="com.spring.aop.HaiService"/>
		<property name="target" ref="haiTarget"/>
	</bean>
</beans>
