<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
    <bean id="aob" class="com.spring.A">
		<property name="msg" value="Welcome to Spring 3.0"/>
	</bean>
	
	<bean id="ha1" class="com.spring.Hai">
    	<property name="msg" value="Welcome to Spring"/>
    	<property name="no" value="99"/>    
	</bean>
	<!-- 
	<bean id="ha2" class="com.spring.Hai">
    	<property name="msg" value="Welcome to Spring"/>
    	<property name="no" value="99"/>    
	</bean>
	 -->
	
	<bean id="hello" class="com.spring.Hello" autowire="constructor"/>
</beans>
